
* {
    font-family: monospace, 'Lucida Sans';
    text-align: left;
}
body {
    background-image: radial-gradient(#212121 4%, transparent 1%);
    background-color: floralwhite;
    background-size: 25px 25px;
    margin: 0 30px;
    font-size: 1.2rem;
  }

/* header */
header {
    display: grid;
    grid-template: repeat(4 1fr) / repeat(6 1fr);
}

h1{
    grid-column: 0/ span 3;
    grid-row: 0/ span 2;
    /* margin-top: 3%; */
    font-size: 3rem;
    text-align: left;
}

.english-name {
    font-style: italic;
    font-size: 0.8rem;
    grid-row: 2/ span 1;
    grid-column: 0/ span 2;
    /* margin-top: -1.5rem; */
    background-color: #21212180;
    padding: 5px 15px;
    border-radius: 20px;
    /* width: 35%; */
}
nav {
    grid-row: 1 / span 1;
    grid-column: 6 /span 1;
    margin-top: 20px ;
}

header nav li {
    display: inline;
    padding: 1rem;
    color: #212121;

}


#hanny {
    font-style: normal;
    text-decoration: underline;
    /* font-size: 3rem; */
    font-weight: bolder;
}




/* main */
h2 {
    text-indent: 20px;
}

h3{
    text-indent: 40px;
}

.sub-h3{
    /* text-indent: 60px; */
    margin-left: 40px;
}

a:visited {
    color: grey;
}

.quote {
    font-style: italic;
}

img {
    max-width: 30%;
    height: auto;
    float: right;
    margin-left: 15px;
}

.about .sub-h3 {
 text-align: justify;
}

.random {
    text-indent: 40px;
}