
* {
    font-family: 'Wix Madefor Display', sans-serif;;
    color: #644D40;
}
body {
    background-color: #fcfbc2;
    margin: 0;
  }

h1{
    font-size: 100px;
    text-align: center;
    margin-bottom: -10px;
}


video {
    width: 70%;
    height:50%;
    margin: 10px auto;
    display: block;
    /* border: solid 4px; */
    border-radius: 30px; 
}
img {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 10%;
    border: solid 3px #445b34;
}

article {
    text-align: justify;
    margin: 30px;
    display: flexbox;
}

div {
    font-size: 50px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 30px;

}
.common_name {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: -20px;

}

.scientific_name {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;

}
p {
    color: #445b34;
}

footer {
    font-size: 0.8rem;
    font-style: italic;
}